# MongoDB connection string (local or Atlas)
MONGO_URI=mongodb+srv://anuanfazabdulhameed_db_user:QUuiE5UpQMuBdcI9@expenso.2rz76o2.mongodb.net/expense_tracker?appName=Expenso

# Secret used to sign JWTs - use a long random string in production
JWT_SECRET=replace_this_with_a_long_random_secret_key

# JWT expiry (e.g. 1h, 7d, 30d)
JWT_EXPIRES_IN=7d

# Port the Express server listens on
PORT=5000

# Comma separated list of allowed CORS origins
CLIENT_URL=http://localhost:3000